@charset "utf-8";

*{
margin:0;
padding:0%;
box-sizing: border-box;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

body{
    margin: 0%;
    padding: 50px;
    border:30px;
    color: #930f14;

}

header{
    background-color:#930f14;
    height:190px;

}

h1{
    
    color: beige;
    font-size:55px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
nav{
    background-color:#790b11 ;
    height: 30px;
    padding:7px;
}
h2{
    color:#986b66;
    font-size:55px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal


}

main{
    background-color:#930f14;
    height: auto;
   
}
img{
    width:auto;
    height: 600px;
    .center
    {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        align-items: center;
    }
  }
  p{
    color: #986b66;
    font-size: 23px;
    font-family:"Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

 a{
    color:#790b11;
    text-decoration: none;
 }
 a:hover{
    color:aquamarine;
    text-decoration: none;
 }
 footer{
    background-color:#a58c78;
    height:30px;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
      }

 .container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
 }   

 .container2 {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
 }

